header h1 {
	text-indent: -999px
	margin: 0;
	font size: 0;
}

header h1 img {
	display: block;
	vertical-align: middle;
	margin-left: 30px;
}

header h1,
header nav {
	display: inline-block;
	vertical-align: middle;
}

header nav ul {
	list-style: none;
}

nav ul li a {
	color: #585858;
	text-decoration: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20 px;
}

nav ul li a {
	padding-left: 30px;
	display: block;
	padding-right: 30px;
}

nav ul li a:hover {
	color: #AEA0A0;
	background: transparent;
	border-radius: 8px;
	border: 1px gray transparent;
}

header {
	padding-right: 30px;
	padding-left: 30px;
	border-bottom: 1px gray solid;
	text-align: center;
	background-image: url(https://www.google.com.pe/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjnr9v_34vMAhUEOiYKHWC2D7YQjRwIBQ&url=http%3A%2F%2Ffd.ryukoku.ac.jp%2Fpublication%2Freport%2Fpdf%2Freport_27.pdf&psig=AFQjCNHrVlLyMJWACKXCaOZFcf520QmZPA&ust=1460641557397248);
}

body {
	margin: 0;
}

aside {
	display: 
}